<h2><%= @user.name %></h2>
<p><%= @user.bio %></p>
<% @user.playlists.each do |playlist| %>
<div class="card text-black bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Playlist</div>
  <div class="card-body">
    <h5 class="card-title"><%= playlist.title %></h5>
    <a href="<%= user_playlist_path(@user, playlist) %>" class="btn btn-primary">View Playlist</a>
  </div>
</div>
<%= link_to "Create Playlist", new_playlist_path %>

<% end %>
