<div class="table-responsive">
<table class="table">
<thead>
<tr>
  <th scope="col">Name </th>
  <th scope="col">Artist</th>
  <th scope="col">Genre</th>
  <th scope="col">Preview</th>
  <th scope="col">Add To Playlist</th>
</tr>
</thead>
<tbody>
<tr>
  <td><%= @song.name %></td>
  <td><%= @song.artist %></td>
  <td><%= @song.genre %></td>
  <td><iframe src="https://open.spotify.com/embed/track/<%= @song.spotify_id %>" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <%= bootstrap_form_for(@playlist) do |f| %>
  <td><%= f.collection_select :title, @user.playlists.all, :id, :title, hide_label: true, include_blank: "Select playlist" %></td>
  <%= f.submit "Add Song" %>
  <% end %>
</td>
</tr>
</tbody>
</table>
</div>