<h1>Search Results</h1>

<div class="table-wrapper-scroll-y my-custom-scrollbar align-content-center">
<table class="table">
<%= render 'layouts/table' %>
<tbody>
<% @songs.each do |song| %>
<tr>
  <td><%= link_to song.name, song_path(song) %></td>
  <td><%= song.artist %></td>
  <td><%= song.genre %></td>
  <td><iframe src="https://open.spotify.com/embed/track/<%= song.spotify_id %>" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
<%= link_to 'Back', url_for(:back) %>
</div>
