<div class="links">
<ul>
<% if can? :manage, @playlist %>
<li><%= link_to "Add Songs", new_search_path %></li>
<li><%= link_to "Edit Playlist", edit_user_playlist_path(@playlist) %></li>
<li><%= link_to "Delete Playlist", playlist_path(@playlist), data: {method: :delete} %></li>
<% end %>
<li><%= link_to "Comments", playlist_comments_path(@playlist) %></li>
<li><%= link_to 'Back', url_for(:back) %></li>
</ul>
</div>
