<div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
			
    <% @playlists.each.with_index(0) do |p, index| %>
			<div class="col-5">
				<div class="card card-block">
          <img src="<%= p.image_url %>" class="card-img-top" alt="">
          <div class="card-body">
            <h5><%= p.title %></h5>
            <p class="card-text">Created by: <%= p.user.name %></p>
            <p class="card-text"><small class="text-muted"><%= p.date %></small></p>
            <a href="<%= playlist_path(p) %>" class="card-link">View Playlist</a>
          </div>
        </div>
			</div>
    <% end %>
    </div>
</div>