<div class="d-flex justify-content-center">
<div class="card mb-3">
 <img src="<%= @playlist.image_url %>" alt="" class="card-img-top img-fluid">
  <div class="card-body">
    <h5 class="card-title"><%= @playlist.title %></h5>
    <p class="card-text"><%= @playlist.story %></p>
    <p class="card-text"><small class="text-muted"><%= @playlist.date %></small></p>
  </div>
</div>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar align-content-center">
<table class="table table-sm">
<thead>
<tr>
  <th scope="col">Song Name </th>
  <th scope="col">Artist</th>
  <th scope="col">Genre</th>
  <th scope="col">Preview</th>
</tr>
</thead>
<tbody>
<% @playlist.songs.each do |song| %>
<tr>
  <td><%= song.name %></td>
  <td><%= song.artist %></td>
  <td><%= song.genre %></td>
  <td><iframe src="https://open.spotify.com/embed/track/<%= song.spotify_id %>" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</td>
</tr>
<% end %>
</tbody>
</table>
<%= render 'links' %>
</div>



