<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_url %>">Home</a>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <a class="nav-link" href="<%= user_path(current_user) %>"><%= current_user.name %>'s Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= logout_path %>">Log Out</a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="<%= login_path %>">Log In</a>
      </li>
      <% end %>
            <li class="nav-item">
        <a class="nav-link" href="#">Playlists</a>
      </li>
  </div>
</nav>

